* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

#root {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
}

#container {
    display: flex;
    width: 80%;
    height: 80%;
    text-align: center;
}

#editor-container {
    flex-grow: 1;
    textarea {
        max-width: 600px;
        min-width: 600px;
        //width: 100%;
        height: auto;
        min-height: 300px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        resize: none;
    }
}

#preview-container {
    flex-grow: 1;
    text-align: left;
}

h1 {
    margin-bottom: 50px;
}

#preview {
    max-width: 600px;
    min-width: 600px;
    height: auto;
    min-height: 300px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
